<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner cs-slide-image-home-page">
          <div class="item active">
            <%= image_tag "slide1.jpg" %>
          </div>

          <div class="item">
            <%= image_tag "slide1.jpg" %>
          </div>

          <div class="item">
            <%= image_tag "slide1.jpg" %>
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <br>
    </div>
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading"><strong>Nổi bật</strong></div>
        <div class="panel-body">Panel Content</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-primary">
        <div class="panel-heading"><strong>Bản tin khoa</strong></div>
        <div class="panel-body">
          <h1>Welcome to the Sample App</h1>
          <h2>
            This is the home page for the
            <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
            sample application.
          </h2>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading"><strong>Đối tác</strong></div>
        <div class="panel-body">Panel Content</div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading"><strong>Hợp tác</strong></div>
        <div class="panel-body">Panel Content</div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading"><strong>Thống kê</strong></div>
        <div class="panel-body">Panel Content</div>
      </div>
    </div>
  </div>
</div>
