<% if notice %>
  <div class='alert alert-success'>
    <%= notice %>
  </div>
<% end %>

<% if alert %>
  <div class='alert alert-danger'>
    <%= alert %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    setTimeout(function(){
      $('.alert').fadeOut();
    }, 3000);
  })
</script>
